backend/.venv/
backend/.env
__pycache__/
*.pyc
*.pyo
.DS_Store
*.log
/uploads/
.idea/
.vscode/
.minio-data/
node_modules/
package.json
package-lock.json

# Word lock files
~$*

# Локальные вспомогательные скрипты для работы с документами
docs/*.py
docs/*.js
