backend/.venv/
backend/.env
__pycache__/
*.pyc
*.pyo
.DS_Store
*.log
/uploads/
.idea/
.vscode/
.minio-data/
node_modules/
package.json
package-lock.json

# Word lock files
~$*

# Локальные генераторы документов
docs/build_presentation.py
docs/build_report.js
